<div class="row">
  <div class="col-sm-12">
		<dl>
			<dd>
				<div>
		      <span>Title:</span>
		    </div>
				<input ng-model="event.Title"></input>
				<snaga-input-box label='Title' model="event.Title" />
			</dd>
			<dd>
				<div>
		      <span>Date:</span>
		    </div>
				<input ng-model="event.PlannedDate"></input>
			</dd>
	    <dd>
				<div>
		      <span>Location:</span>
		    </div>
				<input ng-model="event.Location"></input>
			</dd>
	    <dd>
				<div>
		      <span>Location Details:</span>
		    </div>
				<input ng-model="event.LocationSpecific"></input>
			</dd>
		</dl>
    <div>
      <paper-button class="snaga-btn" ng-click="event.Create()" raised>Create</paper-button>
    </div>
	</div>
</div>
